*~
*.o
virt-what-*.tar.gz
.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
stamp-h1
virt-what
virt-what-cpuid-helper
virt-what.1
virt-what.txt
